body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial;
	font-size: 11pt;
	color: dimgray;
}

#logo {
	margin: 25px 0;
}

#container {
	width: 350px;
	height: 50px;
	margin: auto;
	padding: 25px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: inset 0 0 15px gray;
	-moz-box-shadow: inset 0 0 15px gray;
	-webkit-box-shadow: inset 0 0 15px gray;
	text-align: center;
}
